modelo_bkp
AtasJuridicas.joblib
MELHOR_AtasJuridicas.joblib
modelo_randomforest.pkl

modelo_leandro\bkp\_AtasJuridicas.joblib
modelo_leandro\bkp\__AtasJuridicas.joblib
modelo_leandro\bkp\___AtasJuridicas.joblib
modelo_leandro\bkp\____AtasJuridicas.joblib
_over_AtasJuridicas.joblib

